@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  gap: 2rem; /* Adjust gap between cards */
  animation: scroll 20s linear infinite;
  will-change: transform;
}
